{% extends 'base/base.html' %}

{% block title %}Bienvenido a la Aplicación de la NFL{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">¡Bienvenido a la NFL!</h1>
            <p class="lead">Pagina para gestionar registros de estadios, equipos y ciudades de la NFL.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>Administra la información de la NFL</p>
            <a href="{% url 'nfl:list_ciudades' %}" class="btn btn-primary btn-lg">Descubre Ciudades</a>
        </div>
    </div>
</div>
{% endblock content %}
