{% extends "base/base.html" %}

{% block title %}
  Crear Partido
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Crear</button>
    <a href="{% url 'nfl:list_partido' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
