{% extends "base/base.html" %}

{% block title %}
  Eliminar Partido
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar el partido entre '{{ partido.equipo_local.nombre }}' y '{{ partido.equipo_visitante.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'nfl:list_partido' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
