{% extends "base/base.html" %}

{% block title %}
  Eliminar Duenio
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar al dueño '{{ duenio.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'nfl:list_duenio' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
