{% extends "base/base.html" %}

{% block title %}
  Detalles del Boleto
{% endblock title %}

{% block content %}
  <h2>Detalles del Boleto</h2>
  <p>Partido: {{ boleto.partido }}</p>
  <p>ID del Boleto: {{ boleto.id }}</p>
  <!-- Otros detalles del boleto que desees mostrar -->

  <a href="{% url 'nfl:list_boletos' %}" class="btn btn-secondary">Volver a la lista de Boletos</a>
{% endblock content %}
