{% extends "base/base.html" %}

{% block title %}
  Detalles del Equipo
{% endblock title %}

{% block content %}
  <h2>{{ equipo.nombre }}</h2>
  <p>Este es el Equipo '{{ equipo.nombre }}' que juega en la Ciudad '{{ equipo.ciudad.nombre }} y su duenio es '{{ equipo.duenio.nombre}}''.</p>
  <a href="{% url 'nfl:list_equipo' %}" class="btn btn-secondary">Volver a la lista de Equipos</a>
{% endblock content %}
