{% extends "base/base.html" %}

{% block title %}
  Detalles del Estadio
{% endblock title %}

{% block content %}
  <h2>{{ estadio.nombre }}</h2>
  <p>Este es el Estadio '{{ estadio.nombre }}' que pertenece a '{{ estadio.duenio.nombre }}' y se encuentra en '{{ estadio.ciudad.nombre }}'.</p>
  <a href="{% url 'nfl:list_estadio' %}" class="btn btn-secondary">Volver a la lista de Estadios</a>
{% endblock content %}

