{% extends "base/base.html" %}

{% block title %}
  Detalles del Jugador
{% endblock title %}

{% block content %}
  <h2>{{ jugador.nombre }}</h2>
  <p>Este es el Jugador {{ jugador.nombre }} {{ jugador.apellido }} (Alias: {{ jugador.alias }}) que juega en el equipo {{ jugador.equipo.nombre }}.</p>
  <a href="{% url 'nfl:list_jugador' %}" class="btn btn-secondary">Volver a la lista de Jugadores</a>
{% endblock content %}
