{% extends "base/base.html" %}

{% block title %}
  Detalles del Partido
{% endblock title %}

{% block content %}
  <h2>{{ partido.equipo_local.nombre }} vs {{ partido.equipo_visitante.nombre }}</h2>
  <p>Este es el partido entre {{ partido.equipo_local.nombre }} y {{ partido.equipo_visitante.nombre }}.</p>
  <p>Se jugará en el estadio {{ partido.estadio.nombre }}.</p>
  <a href="{% url 'nfl:list_partido' %}" class="btn btn-secondary">Volver a la lista de Partidos</a>
{% endblock content %}
