{% extends "base/base.html" %}

{% block title %}
  Lista de Partidos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Equipo Local</th>
      <th>Equipo Visitante</th>
      <th>Estadio</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_partido' %}" class="btn btn-success">Crear Partido</a>
      {% for partido in partidos %}
        <tr>
          <td>{{ partido.id }}</td>
          <td>{{ partido.equipo_local.nombre }}</td>
          <td>{{ partido.equipo_visitante.nombre }}</td>
          <td>{{ partido.estadio.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_partido' partido.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_partido' partido.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_partido' partido.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
