{% extends "base/base.html" %}

{% block title %}
  Lista de Ligas
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_liga' %}" class="btn btn-success">Crear Liga</a>
      {% for liga in ligas %}
        <tr>
          <td>{{ liga.id }}</td>
          <td>{{ liga.nombre }}</td>
          <td>{{ liga.ciudad.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_liga' liga.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_liga' liga.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_liga' liga.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
