{% extends "base/base.html" %}

{% block title %}
  Lista de Boletos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Partido</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_boleto' %}" class="btn btn-success">Crear Boleto</a>
      {% for boleto in boletos %}
        <tr>
          <td>{{ boleto.id }}</td>
          <td>{{ boleto.partido }}</td>
          <td>{{ boleto.cantidad }}</td>
          <td>
            <a href="{% url 'nfl:detail_boleto' boleto.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_boleto' boleto.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_boleto' boleto.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
